<?xml version="1.0" encoding="gb2312"?>
<configuration>
  <appSettings>
    <add key="dbConnection" value="">
    </add>
    <add key="data source" value="">
    </add>
    <add key="persist security info" value="FALSE">
    </add>
    <add key="Integrated Security" value="">
    </add>
    <add key="workstation id" value="">
    </add>
    <add key="password" value="">
    </add>
    <add key="user id" value="">
    </add>
    <add key="logTimes" value="0">
    </add>
    <add key="userType" value="">
    </add>
    <add key="appVersion" value="6.0">
    </add>
    <add key="DefaultICDeviceNO" value="">
    </add>
    <add key="SingleDoorStartNo" value="10000">
    </add>
    <add key="SingleDoorEndNo" value="19999">
    </add>
    <add key="TwoDoorStartNo" value="20000">
    </add>
    <add key="TwoDoorEndNo" value="39999">
    </add>
    <add key="KaoqinStartNo" value="80000">
    </add>
    <add key="KaoqinEndNo" value="89999">
    </add>
    <add key="FourDoorStartNo" value="40000">
    </add>
    <add key="FourDoorEndNo" value="59999">
    </add>
    <add key="RunCommServer" value="1">
    </add>
    <add key="SingleClient" value="1">
    </add>
    <add key="Language" value="zh-CHS">
    </add>
    <add key="autologinName" value="">
    </add>
    <add key="autologinPassword" value="">
    </add>
    <add key="autologinFunction" value="0" />
    <add key="Delim" value=" " />
    <add key="autologinMinimized" value="0" />
    <add key="watchingNewRecordBeeper" value="0" />
    <add key="custCardRecordExport" value="SELECT right((string(8,'0') &amp; [f_CardNO]),8) &amp; FORMAT([f_ReadDate],'yyyyMMddHHmmss') &amp; right((string(5,'0') &amp; [f_ControllerNO]),5) &amp; MID([f_ReaderNO] &amp; string(2,'0'),2,1) &amp;  iif(MID([f_ReaderNO] &amp; string(4,'0'),4,1)='B','2','1')  &amp;  '0' &amp; [f_Character]  &amp;  chr(13)   &amp;  chr(10) as Rec ,[f_CardRecordID]  FROM v_d_CardRecord LEFT JOIN t_b_Controller ON v_d_CardRecord.f_ControllerID = t_b_Controller.f_ControllerID " />
    <add key="custCardRecordExportOrder" value=" order by f_CardRecordID " />
    <add key="custCardRecordExportFileName" value="" />
    <add key="notdisplayBeginner" value="0" />
    <add key="rgtries" value="1234" />
    <add key="registerCardMinNo" value="99" />
    <add key="CommCurrent" value="" />
  </appSettings>
</configuration>