USE [master]
GO
/****** Object:  Database [CSLG Access reservation system]    Script Date: 03/03/2017 12:02:10 ******/
CREATE DATABASE [CSLG Access reservation system] ON  PRIMARY 
( NAME = N'CSLG Access reservation system', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.樱井智树\MSSQL\DATA\CSLG Access reservation system.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CSLG Access reservation system_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.樱井智树\MSSQL\DATA\CSLG Access reservation system_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSLG Access reservation system].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSLG Access reservation system]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03/03/2017 12:02:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] NOT NULL,
	[userName] [varchar](20) NOT NULL,
	[password] [varchar](16) NOT NULL,
	[wechat_id] [varchar](16) NULL,
	[phone_number] [varchar](13) NULL,
	[identity_number] [varchar](9) NULL,
	[is_temporary] [bit] NULL,
	[is_manager] [bit] NULL,
	[information] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 03/03/2017 12:02:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Reservations](
	[reservation_Id] [int] NOT NULL,
	[user_id] [int] NULL,
	[room_id] [int] NULL,
	[valid] [bit] NOT NULL,
	[lock] [bit] NOT NULL,
	[year] [int] NULL,
	[month] [int] NULL,
	[day] [int] NULL,
	[start] [int] NULL,
	[finish] [int] NULL,
	[qr_location] [varchar](50) NULL,
	[information] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Reservations] SET (LOCK_ESCALATION = DISABLE)
GO
/****** Object:  Table [dbo].[ActivityRooms]    Script Date: 03/03/2017 12:02:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ActivityRooms](
	[room_Id] [int] NOT NULL,
	[information] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
