<?xml version="1.0" encoding="gb2312"?>
<configuration>
  <appSettings>
    <add key="dbConnection" value="">
    </add>
    <add key="data source" value="">
    </add>
    <add key="persist security info" value="FALSE">
    </add>
    <add key="Integrated Security" value="">
    </add>
    <add key="workstation id" value="">
    </add>
    <add key="password" value="">
    </add>
    <add key="user id" value="">
    </add>
    <add key="logTimes" value="6350">
    </add>
    <add key="userType" value="">
    </add>
    <add key="appVersion" value="6.0">
    </add>
    <add key="DefaultICDeviceNO" value="">
    </add>
    <add key="SingleDoorStartNo" value="10000">
    </add>
    <add key="SingleDoorEndNo" value="19999">
    </add>
    <add key="TwoDoorStartNo" value="20000">
    </add>
    <add key="TwoDoorEndNo" value="39999">
    </add>
    <add key="KaoqinStartNo" value="80000">
    </add>
    <add key="KaoqinEndNo" value="89999">
    </add>
    <add key="FourDoorStartNo" value="40000">
    </add>
    <add key="FourDoorEndNo" value="59999">
    </add>
    <add key="RunCommServer" value="1">
    </add>
    <add key="SingleClient" value="1">
    </add>
    <add key="Language" value="zh-CHS">
    </add>
    <add key="autologinName" value="">
    </add>
    <add key="autologinPassword" value="">
    </add>
    <add key="autologinFunction" value="0" />
    <add key="Delim" value=" " />
    <add key="autologinMinimized" value="0" />
    <add key="watchingNewRecordBeeper" value="0" />
    <add key="custCardRecordExport" value="SELECT right((string(8,'0') &amp; [f_CardNO]),8) &amp; FORMAT([f_ReadDate],'yyyyMMddHHmmss') &amp; right((string(5,'0') &amp; [f_ControllerNO]),5) &amp; MID([f_ReaderNO] &amp; string(2,'0'),2,1) &amp;  iif(MID([f_ReaderNO] &amp; string(4,'0'),4,1)='B','2','1')  &amp;  '0' &amp; [f_Character]  &amp;  chr(13)   &amp;  chr(10) as Rec ,[f_CardRecordID]  FROM v_d_CardRecord LEFT JOIN t_b_Controller ON v_d_CardRecord.f_ControllerID = t_b_Controller.f_ControllerID " />
    <add key="custCardRecordExportOrder" value=" order by f_CardRecordID " />
    <add key="custCardRecordExportFileName" value="" />
    <add key="notdisplayBeginner" value="1" />
    <add key="rgtries" value="1" />
    <add key="registerCardMinNo" value="99" />
    <add key="custCardRecordExport4Sql" value="SELECT right(('00000000' + CONVERT(nvarchar(8),[f_CardNO])),8) + right('0000'+CONVERT(nvarchar(4), DATEPART(yyyy, [f_ReadDate])),4)+right('00'+CONVERT(nvarchar(2), DATEPART(mm, [f_ReadDate])),2)+right('00'+CONVERT(nvarchar(2), DATEPART(dd, [f_ReadDate])),2)+right('00'+CONVERT(nvarchar(2), DATEPART(hh, [f_ReadDate])),2)+right('00'+CONVERT(nvarchar(2), DATEPART(mi, [f_ReadDate])),2)+right('00'+CONVERT(nvarchar(2), DATEPART(ss, [f_ReadDate])),2)+right(('00000' + convert(nvarchar(5),ISNULL([f_ControllerNO],''))),5) +substring(([f_ReaderNO] + '00'),2,1) +CASE WHEN substring(([f_ReaderNO] + '0000'),4,1)='B' THEN '2' ELSE '1' END  +  right(('00' + convert(nvarchar(2),[f_Character])),2)  +  char(13)   +  char(10) as Rec ,[f_CardRecordID]  FROM v_d_CardRecord LEFT JOIN t_b_Controller ON v_d_CardRecord.f_ControllerID = t_b_Controller.f_ControllerID  " />
    <add key="DontSendInfo" value="0" />
    <add key="CommCurrent" value="" />
    <add key="DontDisplayWarnButton" value="" />
    <add key="CameraLocationInfo" value="" />
    <add key="CameraRatio" value="1" />
    <add key="minUDPWaitTimeout" value="0" />
    <add key="comm485UploadPrivSingle" value="0" />
    <add key="RealDownloadStartNO" value="" />
    <add key="pccheck_com232" value="" />
    <add key="EMapZoomInfo" value="" />
    <add key="EMapLocInfo" value="" />
    <add key="NewSoftwareVersionInfo" value="6.9.21" />
    <add key="RunTimes" value="64" />
    <add key="RunTimeAt" value="2017" />
    <add key="NewSoftwareSpecialVersionInfo" value="6.9.21" />
    <add key="pccheck_AutoOpenForIN" value="" />
    <add key="OnlyCapturePhoto" value="" />
    <add key="CONSOLE_DOORVIEW" value="" />
    <add key="OnlyDisplayValidRecAtRealMonitor" value="" />
    <add key="OnlyDisplayOurGroupsPerson" value="" />
  </appSettings>
</configuration>